/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
$nav: #6d3c7b; 
$hover: #82578f;
$link: #5c5c5c;


body { 
  background: url(crowd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.apple_pagination {
	  background: none;
	  border: 0px;
	  text-align: center;
	  padding: 1em;
	  cursor: default; 
	  color: black;
}
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; 
    color: black;
}
.apple_pagination .disabled {
    color: black; }
.apple_pagination .current {
    color: $nav;
    font-style: normal;
    font-weight: bold;
    background-color: none;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
   }
.apple_pagination a {
    text-decoration: none;
    color: black;
   }
.apple_pagination a:hover, .apple_pagination a:focus {
     color: black;
     text-decoration: underline; 
     background: none !important;
  }

.conversation {
	opacity: .8;
	background-color: $hover;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px; 
	border: 1p solid $nav;
	text-align: center;
	h4 {
		color: white;
	}
}
.spacer {
	height: 60px !important; 
}
.red {
	background-color: red; 
}
a {
	color:#353535 !important;
	text-decoration: none !important;
}
a:hover {
	background-color:none !important;
}
.block {
	display: block;
}
.border {
	border: 1px solid #e2e2e2 !important;
}
.btn-custom {
	padding: 8px 12px;  
	font-weight: bold;  
	font-size: 14px;
	background-color: #cccccc;
}
.btn-custom:hover {
	background-color: #bbbaba;
}
.btn-purple {
	background-color: $nav; 
	color: white !important;
	padding: 8px 12px;  
	font-weight: bold;  
	font-size: 14px;
}
.btn-purple2 {
	background-color: $nav; 
	color: white !important;
	padding: 8px 12px;  
	font-weight: bold;  
	font-size: 14px;
}
.btn-purple:hover {
	background-color: $hover !important; 
}
.index_profile {
	border: 1px solid #e7e7e7;
	background-color: #f8f8f8;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px; 
	box-shadow: 0px 0px 10px #c0c0c0;
}
/*.index_profile {
	border: 1px solid #aaaaaa;
	background-color: #7a7a7a;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px; 
	color: white;
}*/
.index_row {
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #dedede;
}
.index_image {
	width: 100%;
}
.index_info {
	color: #5e5e5e;
}
.index_info_name {
	color: #353535;
}
.info_container { 
	display: inline-block;
 }
.instrument_image {
	height: 30px;
	margin-top: 20px;
	margin-right: 8px;
}
.instrument_image_index {
	height: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 8px;
}
.logo { 
	width: 50px;
}
.logo_big { 
	width: 300px;
	margin-left: auto;
	margin-right: auto;
 }
.logo_container {
 	width: 100%;
 	text-align: center;
 	margin-bottom: 40px;
}
.profile_row {
 	background-color: #dedede;
}
.messages_background {
	position: relative !important;
	top: -100px !important;
}
.message_image {
	width: 40px;
	height: 40px;
	margin-bottom: 10px; 
	border-radius: 50%;
}
.message_receiver {
	border: 1px solid #e7e7e7;
	background-color: #dce8ff;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px; 
}
.message_sender {
	border: 1px solid #e7e7e7;
	background-color: #f8f8f8;;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}
.message_new {
	h3 {
		color: white !important;
	}
	border: 0px; 
	border-radius: 5px !important;
	background-color: #8b8b8b;
	margin-top: 30px;
	padding-top:30px;
	padding-bottom:30px; 
	border-radius: 0px; 
	margin-left: auto;
	margin-right: auto;
}
.message_input {
	border: 0px;
	background-color: #8b8b8b;
	padding-top:30px;
	padding-bottom:30px; 
	border-radius: 0px;
	position: fixed;
	width: 100%;
	bottom: 0px; 
	z-index: 5px;
}
.modal-content {
	background-color: white;
	top: 50px;
}
.modal-header {
	border-radius: 5px 5px 0px 0px;
	background-color: #e2e2e2;
}
.modal-footer {
	background-color: #e2e2e2;
	border-radius: 0px 0px 5px 5px;
}
.navbar {
	padding: 10px; 
	position: fixed;
	z-index: 5;
	top: 0px;
	width: 100%;
	box-shadow: 0px 0px 5px black;
	.icon-bar {
		background: white !important; 
	}
}
.navbar_placeholder {
	width: 100%;
	height: 70px;
	background-color: none;
}
nav {
 	border: $nav !important; 
	border-radius: 0px !important; 
	background-color: $nav  !important;
	a {
		color: white !important; 
		background-color: $nav  !important;
	} 
	.collapsed {
		border: 1px solid $nav  !important;
	}
	.collapsed:hover {
		background: $nav !important;
	}
}
.profile_pic	{ 
	width:100%;
	margin-top: 70px;
	margin-bottom: 8px;
	border: opx solid white;
 }
.searchbar {
	opacity: 1;
	background-color: $hover !important;
	position: relative;
	top: 20px;
	margin-bottom: 100px !important;
	padding-bottom: 40px;
	padding: 30px;
	border: 0px;
	h1, h2, h3, h4, h5, h6 {
		color: white; 
		margin-bottom: 20px;
	}
	p, label {
		color: white !important;
	}
	.btn {
		margin-top: 10px !important;
	}
}
.sidebar {
	background-color: $nav !important;
	position: relative;
	top: 70px;
	padding-top: 10px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	h1, h2, h3, h4, h5, h6, p {
		color: white; 
		margin:20px;
	}
}
.text_area {
	resize: none;
	border-radius: 5px;
	border: 0px;
	padding: 10px;
	width: 100%;
	height: 100px;
}
.top {
	margin-top: 180px;
}
.top_alt_page {
	margin-top: 180px;
} 
.upload_display {
	background-color: $hover;
	border-radius: 5px; 
	padding: 15px;
	width: 100%;
	margin-top: 15px;
}
.white_background {
	background-color: white !important;
}
.white_bg {
	background-color: none !important;
	color: black !important; 
}
.white_bg:hover {
	background-color: transparent !important;
	color: black !important; 
	text-decoration: none; 
}
.will_paginate:hover {
	background-color: none !important;
}
.years_spent_playing_container {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: grey;
	margin: 10px;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 0px 10px #c0c0c0;
	p {
		position: relative;
		top: 8px;
		color: white;
		font-weight: bold;
		font-size: 14px;
	}
}
.years_spent_playing_container_index {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: grey;
	display: inline-block;
	text-align: center;
	position: relative;
	top: -10px;
	p {
		position: relative;
		top: 6px;
		color: white;
		font-weight: bold;
		font-size: 11px;
	}
}
@media screen and (max-width:1400px){
	.top {
		margin-top: 100px; 
	}
	.top_alt_page {
		margin-top: 100px;
	}
}


@media screen and (max-width:767px){
	.index_image {
		margin-bottom: 15px;
	}
	.logo_big { 
		width: 200px;
		margin-left: auto;
		margin-right: auto;
 	}
 	.logo_container {
	 	margin-top: 10px;
	}
 	.message_index_text {
		font-size: 16px;
	}
	.modal-content {
		top: 0px;
	}
 	.profile_pic	{ 
		width:70%;
 	}
	.searchbar {
		position: relative;
		top: -20px;
		border-radius: 0px;
		border-top: 1px;
		border: 0px;
		margin-bottom: 20px !important;
		background-color: $hover !important; 
		.btn {
			margin-top: 0px !important;
		}	
	}
	.sidebar {
		top: 0px;
	}
}
@media screen and (max-width:500px){
	.index_image {
		margin-bottom: 15px;
	}
	.profile_pic	{ 
		margin-top: 50px;
		width:100%;
 	}
 	.profile_row {
 		background-color: none;
 	}
 	.searchbar {
		margin-bottom: 10px !important;
	}
	.top {
		margin-top: 80px;
	}
	.top_alt_page {
		margin-top: 70px;
	}
}